body {
    background-color: #f5f5f7;
}

.main {
    display: flex;
    justify-content: center;
    z-index: 100;
}

.slideshow {
    display: flex;
    margin-top: 3%;
    /* width: 70%; */
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: 5px dotted greenyellow; */
}


@media (orientation: portrait) {
    .slideshow {
        margin-top: 50%;
    }
}